///// Colors
$black: #000000;
$white: #f0f1f1;
$blue-green: #1effc7;
$purple: #7000ff;
$lightPurple: #bf8bff;
$blue: #0082ff;
$lightBlue: #28caff;

///// Mixins
@mixin absoCenter() {
    position: absolute;
    left: 50%;
}

@mixin relCenter() {
    position: relative;
    left: 50%;
}

@mixin borderBox() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
