///// Fonts
@font-face {
    font-family: 'mohavesemibold';
    src: url('../fonts/mohave-semibold-webfont.eot');
    src: url('../fonts/mohave-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-semibold-webfont.woff') format('woff'),
         url('../fonts/mohave-semibold-webfont.ttf') format('truetype'),
         url('../fonts/mohave-semibold-webfont.svg#mohavesemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mohaveregular';
    src: url('../fonts/mohave-webfont.eot');
    src: url('../fonts/mohave-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-webfont.woff') format('woff'),
         url('../fonts/mohave-webfont.ttf') format('truetype'),
         url('../fonts/mohave-webfont.svg#mohaveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mohavebold';
    src: url('../fonts/mohave-bold-webfont.eot');
    src: url('../fonts/mohave-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-bold-webfont.woff') format('woff'),
         url('../fonts/mohave-bold-webfont.ttf') format('truetype'),
         url('../fonts/mohave-bold-webfont.svg#mohavebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
$mohave: 'mohaveregular', arial, sans-serif;
$mohaveBold: 'mohavebold', arial, sans-serif;
$mohaveSemi: 'mohavesemibold', arial, sans-serif;
