// johnlusky.com
// Version: 3.5
// Author: John Lusky

///// Global
@import "foundation";
@import "normalize";
@import "type";
@import "settings";

///// Global Styles
body {
    -webkit-font-smoothing: antialiased;
    background: $black url(../img/bg-main.png) repeat;
    background-attachment: fixed;
	overflow-x: hidden;
}

h1, h2, h3 {
    font-family: $robotoBold;
}

#wrapper {
    position: relative;
}

hr {
    border: solid $blue;
    border-width: 4px 0 0;
    margin: 1.25rem 0 1.1875rem;
}

a {
    color: $blue;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
        color: $white;
    }
}

h3 {
    font-size: 23px;
    color: $blue;
}

::selection {
	background: $blue;
}

::-moz-selection {
	background: $blue;
}

///// Section Specific Styles
.space {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	z-index: 999;
    opacity: .3;
    animation-name: lightsdown;
    animation-duration: 4s;
    animation-play-state: running;
}

@keyframes lightsdown {
    0% {
        opacity: .9;
    }

    100% {
        opacity: .3;
    }
}

.solid-black {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
    height: 100vh;
	background: $black;
	z-index: 998;
}


.carbon {
	position: relative;
	width: 100%;
	background: $black url(../img/bg-main.png) repeat;
	z-index: 998;
}

.fade-off {
    opacity: 0!important;
}

.fade-on {
    opacity: 1!important;
}

#top {
  position: relative;
  width: 100%;
  z-index: 1000;
  overflow: hidden;

  .logo {
    position: fixed;
    left: 50%;
    top: 23px;
    width: 796px;
    height: 419px;
    margin-left: -402px;
    background: transparent url(../img/gfx-logo-2016.png) no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    opacity: 0;
    transition: opacity 1s ease-out;
  }

    .idd-hdr {
        position: fixed;
        left: 50%;
        top: 400px;
        width: 520px;
        margin-left: -260px;
        padding: 30px;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 8px;
        color: $white;
        background: rgba(0, 0, 0, 0.9);
        opacity: 0;
        transition: opacity 1s ease-out;
        transition-delay: .5s;
    }

}

.explore {
    position: fixed;
    left: 50%;
    bottom: 0;
    display: block;
    width: 102px;
    height: 106px;
    margin-left: -51px;
    background: transparent url(../img/gfx-explore.png) no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    opacity: 0;
    transition: opacity .5s ease-out;

    &.active {
        opacity: 1!important;
    }

    &.entered {
        opacity: .6;
    }
}

@keyframes explorein {

}

#hud {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    bottom: 50px;
    width: 400px;
    margin-left: -200px;
    padding: 25px 20px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    cursor: crosshair;

    &:hover {
        background: rgba(0, 0, 0, 0.6);
    }

    .hud-btn {
        display: inline-block;
        margin: 0 10px;
        font-family: $robotoBold;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        letter-spacing: 5px;
        color: $lightBlue;
        cursor: crosshair;

        &:hover {
            color: $lightPurple;
            text-shadow: $white 0 0px 19px;
        }
    }
}


// Foundation Overrides

[data-magellan-expedition], [data-magellan-expedition-clone] {
  	height: 113px;
  	background: transparent url(../img/bg-gradient.png) repeat-x;
  	z-index: 50;
  	min-width: 100%;
  	padding: 10px;
  	border-bottom: 4px solid $blue;
}

[data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
	position: relative;
    margin: 0 33px;

    &:first-child {
      margin: 0 33px 0 60px;
    }
}

[data-magellan-expedition-clone] {
	opacity: 0;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
    background-color: rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

}

.orbit-container .orbit-slides-container img {
	margin: 0 auto;
}

.fixed {
	z-index: 9999;
}

// End Foundation Overrides


p {
  	color: $white;
}

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {

}

.sub-nav {
    width: 878px;
    height: 190px;
    margin: 0 auto;
}

.sub-nav dd ul {
	  display: none;
    position: absolute;
    top: 37px;
    left: 50%;
    width: 150px;
    margin-left: -68px;
    padding: 10px 20px;
    background: $black;
    border-bottom: 8px solid $blue-green;
    opacity: .85;
    @include borderBox;

    a {
        display: block;
        font-family: $mohave;
        font-size: 20px;
		    text-decoration: none;
	     	line-height: 23px!important;
    }

	li {
		margin: 4px 9px;
	}

}

.sub-nav dd:hover > ul {
	display: block;
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
	 font-family: $mohaveSemi;

	&.active {

		a {
			border-radius: 0;
			font-family: $mohaveBold;
			font-weight: normal;
			background: transparent;
			padding: 0.1875rem 1rem;
			cursor: default;
			color: $blue-green;

			&:hover {
				background: transparent;
			}
		}
	}

	a {
		font-size: 23px;
		font-weight: normal;
		color: $white;

		&:hover {
			color: $blue-green;
		}

	}
}

.nav-logo {
    display: block;
    position: relative;
    top: -30px;
    left: 12px;
    width: 137px;
    height: 136px;
    background: transparent url(../img/gfx-logo-small.png) no-repeat !important;
    text-indent: -9999px;

    &:hover {
      opacity: .7;
    }
}

/// Mobile Nav

#jl-mobile-nav {
	background: $black;
	border-bottom: 4px solid $blue-green;
	//min-height: 60px;

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 11px;
	}

	.top-bar-section ul li > a {
		background: $black;

		&:hover {
			background: #141414;
		}

	}

	.top-bar-section .dropdown label {
		padding: 2px 15px 2px;
		color: $black;
	}

	.top-bar-section .dropdown li label {
		background: $blue-green;
	}

	.top-bar-section ul {
		background: $black;
		font-size: 12px;
	}

}

.top-bar.expanded .title-area {
	background: $black!important;
}

@media only screen and (min-width: 40.063em) {
	.top-bar-section ul {
		border-bottom: 4px solid $blue-green;
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
		line-height: 41px;
	}

}

.mobile-nav-logo {
	display: block;
	width: 43px!important;
	height: 40px;
	background: url(../img/gfx-logo-small.png) 5px 0px no-repeat;
	background-size: 100%;
	text-indent: -9999px;
}


/// About

#about {

	h2 {
		position: relative;
		left: -65px;
		margin-top: 10px;
		width: 400px;
		height: 215px;
		background: transparent url(../img/sprite-headers.png) no-repeat;
		background-position: 0 -152px;
		text-indent: -9999px;
	}

}

#about-content1 {
    position: relative;

    #chart {
        //display: none;
        position: relative;
        top: -70px;
        left: -30px;
        width: 664px;
        height: 530px;
        background: transparent url(../img/gfx-chart.png) no-repeat;
        z-index: 10;
    }

    .bg-triangle {
        position: absolute;
        top: -180px;
        left: 130px;
        width: 518px;
        height: 473px;
        background: transparent url(../img/gfx-triangle.png) no-repeat;
        opacity: 0;
        z-index: 9;
    }

}


/// Work

#work {

    h2 {
        position: relative;
        left: -65px;
        margin-top: 10px;
        width: 400px;
        height: 215px;
        background: transparent url(../img/sprite-headers.png) no-repeat;
        background-position: 0 -558px;
        text-indent: -9999px;
    }

    p {
        position: relative;
        top: -27px;

        @media all and (max-width: 641px){
            top: 0;
        }
    }

}

.work-content {
    margin-bottom: 100px;

    a {
        font-family: $mohaveBold;
        font-size: 20px;
    }

}

/// Contact

#contact {

	h2 {
		position: relative;
		left: -65px;
		margin-top: 10px;
		width: 460px;
		height: 215px;
		background: transparent url(../img/sprite-headers.png) no-repeat;
		background-position: 0 -353px;
		text-indent: -9999px;
	}

	p {
		margin: -35px 0 40px 0;
		font-size: 17px;
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	input, textarea {
		height: 60px;
		padding: 0px 12px;
		margin: 0 0 25px 0;
		background-color: transparent;
		border: 8px solid rgba(30, 255, 199, .2);
		font-family: $mohaveSemi;
		font-weight: normal;
		font-size: 22px;
		color: $blue-green;
		outline: none;

		&:focus {
			border: 8px solid rgba(30, 255, 199, .8);
			box-shadow: 0 0 35px rgba(30, 255, 199, .50);
		}

	}

	textarea {
		height: 200px;
		padding: 15px 12px;
		resize: none;
		font-size: 17px;
		font-family: arial, helvetica, sans-serif;
	}

	.submit_btn {
		width: 200px;
		padding: 10px;
		font-size: 34px;
		color: $white;
		margin: 0 0 25px 0;
		background-color: transparent;
		border: 8px solid rgba(30, 255, 199, .2);
		font-family: $mohaveSemi;
		font-weight: normal;
		outline: none;
        transition: all .3s ease-out;

		&:hover {
			color: $blue-green;
			border: 8px solid rgba(30, 255, 199, .8);
			box-shadow: 0 0 35px rgba(30, 255, 199, .50);
		}

	}

	#result {
		display: none;
		color: $white;
		font-weight: bold;
		font-size: 19px;
		margin: 0 0 40px 0px;
	}

	::-webkit-input-placeholder {
		color: $white;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
	::-moz-placeholder {
		color: $white;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
	:-ms-input-placeholder {
		color: $white;
		font-weight: normal;
		font-family: arial, sans-serif;
		-webkit-font-smoothing: antialiased;
	}


}

footer {
	min-height: 205px;
	border-top: 10px solid $blue-green;
	background: $black;
	box-shadow: 0 0 135px rgba(30, 255, 199, 0.3);

	#footer {

		li {
			display: inline-block;
			padding: 0 10px 0 6px;
			font-size: 11px;
			border-right: 1px solid $white;
			line-height: 11px;

			&:last-child {
				border-right: 0;
			}

			a {
				text-decoration: none;
				text-transform: uppercase;
			}

		}

		.back-to-top {
			display: block;
			position: relative;
			box-sizing: border-box;
			width: 90px;
			height: 90px;
			margin: 30px 0 0 0;
			padding: 80px 0 30px 0;
			background: transparent url(../img/gfx-back-to-top.png) no-repeat;
			font-family: $mohaveSemi;
			font-size: 16px;
			text-decoration: none;
			color: $white;
            transition: all .3s ease-out;

			&:hover {
				background-position: 0 -5px;
			}

		}

	}

}

///// Media Queries
@media only screen and (max-width: 40em) {

	.back-to-top {
		left: 20px;
		top: -30px;
	}

	#about-content1 {

		img {
			width: 210px;
			position: relative;
			left: 50%;
			margin: 0 0 30px -105px;
		}

	}

	#about h2 {
		left: 0;
		margin: 10px auto 0 auto;
		width: 252px;
		height: 95px;
		background-position: 0 -137px;
		background-size: 500px;
	}

	#work h2 {
		left: 0;
		margin: 10px auto 0 auto;
		width: 242px;
		height: 95px;
		background-position: 0 -404px;
		background-size: 500px;
	}

	#contact h2 {
		left: 0;
		margin: 10px auto 0 auto;
		width: 242px;
		height: 95px;
		background-position: -33px -265px;
		background-size: 500px;
	}

	#contact p {
		margin: 0 0 40px 0;
	}

}

@media only screen and (max-width: 730px) {
    #top {
        .logo {
            width: 380px;
            height: 279px;
            margin-left: -190px;
            background-size: 370px;
        }

        .idd-hdr {
            width: 320px;
            height: 81px;
            margin-left: -160px;
            background-size: 340px;
        }
    }
}

@media only screen and (min-width: 40.063em) {

	#about-content1 {

		#chart {
			left: 0;
			margin: 0 auto;
		}

	}
}
