// johnlusky.com sass
// Version: 3.0
// Author: John Lusky

@import "foundation";
@import "normalize";
@import "compass/css3";


///// Colors
$black: #000000;
$white: #f0f1f1;
$blue-green: #1effc7;


///// Fonts
@font-face {
    font-family: 'mohavesemibold';
    src: url('../fonts/mohave-semibold-webfont.eot');
    src: url('../fonts/mohave-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-semibold-webfont.woff') format('woff'),
         url('../fonts/mohave-semibold-webfont.ttf') format('truetype'),
         url('../fonts/mohave-semibold-webfont.svg#mohavesemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mohaveregular';
    src: url('../fonts/mohave-webfont.eot');
    src: url('../fonts/mohave-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-webfont.woff') format('woff'),
         url('../fonts/mohave-webfont.ttf') format('truetype'),
         url('../fonts/mohave-webfont.svg#mohaveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mohavebold';
    src: url('../fonts/mohave-bold-webfont.eot');
    src: url('../fonts/mohave-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-bold-webfont.woff') format('woff'),
         url('../fonts/mohave-bold-webfont.ttf') format('truetype'),
         url('../fonts/mohave-bold-webfont.svg#mohavebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
$mohave: 'mohaveregular';
$mohaveBold: 'mohavebold';
$mohaveSemi: 'mohavesemibold';

///// Other Vars


///// Mixins
@mixin absoCenter() {
    position: absolute;
    left: 50%;
}

@mixin relCenter() {
    position: relative;
    left: 50%;
}


///// Global Styles
body {
    -webkit-font-smoothing: antialiased;
    background: $black url(../img/bg-main.png) repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    font-family: $mohaveSemi;
}

#wrapper {
    position: relative;
}

hr {
    border: solid $blue-green;
    border-width: 4px 0 0;
    margin: 1.25rem 0 1.1875rem;
}

a {
    color: $blue-green;
    font-weight: bold;
    text-decoration: underline;
    
    &:hover {
        color: $white;
    }
}

h3 {
    font-size: 23px;
    color: $blue-green;
}

///// Section Specific Styles
.space {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	opacity: .2;
	z-index: 999;
}

.carbon {
	position: relative;
	width: 100%;
	background: $black url(../img/bg-main.png) repeat;
	z-index: 998;
}

#hero {
  position: relative;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  
  .logo {
    @include relCenter;
    top: 0;
    width: 556px;
    height: 419px;
    margin-left: -258px;
    background: transparent url(../img/gfx-toplogo.png) no-repeat;
    text-indent: -9999px;
    opacity: 0;
  }
  
  .idd-hdr {
    @include relCenter;
    top: -50px;
    width: 695px;
    height: 151px;
    margin-left: -352px;
    background: transparent url(../img/sprite-headers.png) no-repeat;
    text-indent: -9999px;
    opacity: 0;
  }
  
  .explore {
    @include absoCenter;
    bottom: 50px;
    display: block;
    width: 143px;
    height: 137px;
    margin-left: -71px;
    background: transparent url(../img/gfx-explore.png) no-repeat;
    text-indent: -9999px;
    opacity: 0;
  }
  
  .tri-btn {
    display: block;
    position: absolute;
    width: 519px;
    height: 506px;
    text-indent: -9999px;
    opacity: .5;
    @include transition-property(all);
    @include transition-duration(.7s);
    @include transition-timing-function(ease-out);
    
    &:hover {
      opacity: 1;  
    }
    
  }
  
  .topnav-links {
    top: -124px;
    //left: -259px;
    left: -442px;
    background: transparent url(../img/tri-btn-links.png) no-repeat;
  }
  
  .topnav-contact {
    bottom: -128px;
    //right: -259px;
    right: -442px;
    background: transparent url(../img/tri-btn-contact.png) no-repeat;
  }
  
  .topnav-about {
    bottom: -128px;
    //left: -259px;
    left: -442px;
    background: transparent url(../img/tri-btn-about.png) no-repeat;
  }
  
  .topnav-work {
    top: -124px;
    //right: -259px;
    right: -442px;
    background: transparent url(../img/tri-btn-work.png) no-repeat;
  }
  
}


// Foundation Overrides

[data-magellan-expedition], [data-magellan-expedition-clone] {
  	height: 110px;
  	background: $black url(../img/bg-nav.png) repeat-x;
  	z-index: 50;
  	min-width: 100%;
  	padding: 10px;
}

[data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
    margin: 0 33px;
    
    &:first-child {
      margin: 0 33px 0 60px;
    }
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
    background-color: rgba(0, 0, 0, 0.3);
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
}

// End Foundation Overrides


p {
  	color: $white;
}

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {

}

.sub-nav {
    width: 878px;
    margin: 0 auto;
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
	 font-family: $mohaveSemi;
	
	&.active {
		
		a {
			border-radius: 0;
			font-family: $mohaveBold;
			font-weight: normal;
			background: transparent;
			padding: 0.1875rem 1rem;
			cursor: default;
			color: $blue-green;
			
			&:hover {
				background: transparent;
			}	
		}
	}
	
	a {
		font-size: 23px;
		font-weight: normal;
		color: $white;
		
		&:hover {
			color: $blue-green;	
		}
		
	}  
}

.nav-logo {
    display: block;
    position: relative;
    top: -30px;
    left: 12px;
    width: 137px;
    height: 136px;
    background: transparent url(../img/gfx-logo-small.png) no-repeat !important;
    text-indent: -9999px;
  
    &:hover {
      opacity: .7;
    }
}

/// About

#about {
  
  h2 {
    position: relative;
    left: -65px;
    margin-top: 10px;
    width: 400px;
    height: 215px;
    background: transparent url(../img/sprite-headers.png) no-repeat;
    background-position: 0 -152px;
    text-indent: -9999px;
  }
  
}

#about-content1 {
    position: relative;
      
    #chart {
        display: none;
        position: relative;
        top: -70px;
        left: -30px;
        width: 664px;
        height: 530px;
        background: transparent url(../img/gfx-chart.png) no-repeat;
        z-index: 10;
    }
    
    .bg-triangle {
        position: absolute;
        top: -180px;
        left: 130px;
        width: 518px;
        height: 473px;
        background: transparent url(../img/gfx-triangle.png) no-repeat;
        opacity: 0;
        z-index: 9;
    }
  
}


/// Work

#work {
	
    h2 {
        position: relative;
        left: -65px;
        margin-top: 10px;
        width: 400px;
        height: 215px;
        background: transparent url(../img/sprite-headers.png) no-repeat;
        background-position: 0 -558px;
        text-indent: -9999px;
    }
  
}

.work-content {
    margin-bottom: 100px;
    
    a {
        font-family: $mohaveBold;
        font-size: 20px;
    }
    
}

/// Contact

#contact {  
  
	h2 {
		position: relative;
		left: -65px;
		margin-top: 10px;
		width: 460px;
		height: 215px;
		background: transparent url(../img/sprite-headers.png) no-repeat;
		background-position: 0 -353px;
		text-indent: -9999px;
	}
	
	p {
		margin: -35px 0 40px 0;
		font-size: 17px;
	}

	input, textarea {
		margin: 0 0 25px 0;
		padding: 20px 13px;
		background-color: transparent;
		border: 8px solid rgba(30, 255, 199, .2);
		font-family: $mohaveSemi;
		font-weight: normal;
		font-size: 22px;
		color: $blue-green;
		outline: none;
		
		&:focus {
			border: 8px solid rgba(30, 255, 199, .8);
			box-shadow: 0 0 35px rgba(30, 255, 199, .50);
		}
		
	}
	
	textarea {
		height: 200px;
		resize: none;
		font-size: 17px;
		font-family: arial, helvetica, sans-serif;
	}
	
	input[type="submit"] {
		width: 200px;
		padding: 10px;
		font-size: 34px;
		color: $white;
		@include transition-property(all);
		@include transition-duration(.3s);
		@include transition-timing-function(ease-out);

		&:hover {
			color: $blue-green;
			border: 8px solid rgba(30, 255, 199, .8);
			box-shadow: 0 0 35px rgba(30, 255, 199, .50);
		}
		
	}
	
	::-webkit-input-placeholder {
		color: $white;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
	::-moz-placeholder { 
		color: $white;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
	:-ms-input-placeholder {
		color: $white;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
	
		
}

footer {
	min-height: 205px;
	border-top: 10px solid $blue-green;
	background: $black;
	box-shadow: 0 0 135px rgba(30, 255, 199, 0.3);
	
	#footer {
		
		li {
			display: inline-block;
			padding: 0 10px 0 6px;
			font-size: 11px;
			border-right: 1px solid $white;
			line-height: 11px;
			
			&:last-child {
				border-right: 0;
			}
			
			a {
				text-decoration: none;
				text-transform: uppercase;
			}
			
		}
		
		.back-to-top {
			display: block;
			position: relative;
			box-sizing: border-box;
			width: 90px;
			height: 90px;
			margin: 30px 0 0 0;
			padding: 80px 0 30px 0;
			background: transparent url(../img/gfx-back-to-top.png) no-repeat;
			font-family: $mohaveSemi;
			font-size: 16px;
			text-decoration: none;
			color: $white;
			@include transition-property(all);
			@include transition-duration(.3s);
			@include transition-timing-function(ease-out);
			
			&:hover {
				background-position: 0 -5px;
			}
				
		}
		
	}
	
}

///// Media Queries

@media only screen and (max-height: 800px) { 
  
  #hero {
    
    .explore {
      display: none;
    }
    
  }
    
}


























